@import 'fonts.css';

@media print {

  /*
   * page and margins
   */

  @page {
    size: A4;
    margin-top: 10mm;
    margin-right: 20mm;
    margin-bottom: 25mm;
    margin-left: 15mm;

    @bottom-center {
      content: string(title);
      text-transform: uppercase;
    }
  }

  @page:first {
    @bottom-left {
      content: none;
    }
    @bottom-right {
      content: none;
    }
    @bottom-center {
      content: none;
    }
  }

  @page:left {
    @bottom-left {
      content: counter(page);
    }
  }

  @page:right {
    @bottom-right {
      content: counter(page);
    }
  }

  /*
   * Fonts
   */

  html {
    font-family: "EB Garamond";
    font-size: large;
  }

  h1 {
    string-set: title content(text);
    font-family: "Philosopher";
    font-size: 48px;
  }

  h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 0 auto;
  }

  .masthead {
    font-family: "Philosopher";
    font-size: 132px;
    text-align: center;
    color: gold;
    text-shadow: 2px 2px 5px #000, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .cover-legend {
    font-family: "Philosopher";
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin-left: -50%;
    margin-right: -50%;
  }

  h2 {
    font-family: "Philosopher";
    font-size: x-large;
  }

  h3 {
    font-family: "Philosopher";
    font-size: large;
  }

  p {
    text-align: left;
  }

  .chapter {
    break-before: page;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  /*
   * Table of contents
   */

  #list-toc-generated li {
    list-style: none;
  }

  #list-toc-generated li span::after {
    content: target-counter(attr(href), page);
    float: right;
  }

  .col2 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .col3 {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .figure {
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .figure img {
    border-radius: 5px;
  }

  .figure-caption {
    text-align: center;
    font-size: smaller;
    font-style: italic;
  }

  .col2 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .col3 {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .gallery {
    display:block;
    float:right;
  }

  hr {
    height: 1px;
    color: #000000;
    background-color: #000000;
    border: none;
  }
}