@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/philosopher.woff2') format('woff2'), url('../fonts/philosopher.woff') format('woff');
}

@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/philosopher-i.woff2') format('woff2'), url('../fonts/philosopher-i.woff') format('woff');
}

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/philosopher-b.woff2') format('woff2'), url('../fonts/philosopher-b.woff') format('woff');
}

@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/philosopher-bi.woff2') format('woff2'), url('../fonts/philosopher-bi.woff') format('woff');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ebgaramond.woff2') format('woff2'), url('../fonts/ebgaramond.woff') format('woff');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ebgaramond-i.woff2') format('woff2'), url('../fonts/ebgaramond-i.woff') format('woff');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ebgaramond-b.woff2') format('woff2'), url('../fonts/ebgaramond-b.woff') format('woff');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/ebgaramond-bi.woff2') format('woff2'), url('../fonts/ebgaramond-bi.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  src: url('../fonts/opensans-i.woff2') format('woff2'), url('../fonts/opensans-i.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url('../fonts/opensans-b.woff2') format('woff2'), url('../fonts/opensans-b.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  src: url('../fonts/opensans-bi.woff2') format('woff2'), url('../fonts/opensans-bi.woff') format('woff');
}
