{% include header.html %}

{% assign pathsegments = page.path | split:"/" %}
{% assign month = pathsegments[1] %}

<div id="main" class="wrapper style3">
	<div class="container">
		<div class="row">
			<div class="col-12 order-last col-md-4 col-lg-3 col-xl-3 col-xxl-2 order-md-first">
				<div class="p-2">
					<section id="sidebar">
						{% include sidebar.html thisissue = month %}
					</section>
				</div>
			</div>

			<div class="col-12 order-first col-md-8 col-lg-9 col-xl-9 col-xxl-10 order-md-last">
				<section id="content">
					{{ content }}
				</section>
			</div>

		</div>
	</div>
</div>

{% include footer.html %}
