{% include header.html %}

{% assign pathsegments = page.path | split:"/" %}
{% assign month = pathsegments[1] %}

<div id="main" class="wrapper style3">
	<div class="container">
		<div class="row">
			<div class="col-12 order-last col-sm-4 col-lg-3 order-sm-first">
				<div class="p-3">
					<section id="sidebar">
						{% include sidebar.html thisissue = month %}
					</section>
				</div>
			</div>

			<div class="col-12 order-first col-sm-8 col-lg-9 order-sm-last">
				<section id="content">
					{{ content }}
				</section>
			</div>

		</div>
	</div>
</div>

{% include footer.html %}
